td,
th {
	border: 1px solid black;
}
table {
	border-collapse: collapse;
}
td {
	vertical-align: top;
}

.btn {
	padding: 15px;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	background-color: coral;
	color: white;
	cursor: pointer;
}
.btn:hover {
	background-color: chocolate;
}
.btn:active {
	background-color: brown;
}
.btn:focus {
	border: 2px solid red;
}

.test {
	font-size: 20px;
}

input.test:focus {
	border: 2px solid blue;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.flex-item {
	width: 100px;
	height: 100px;
	background-color: grey;
	margin: 5px;
}

.flex-container1 {
	width: 100vw;
	display: flex;
	-ms-flex-align: center;
}

.flex-item2 {
	height: 100px;
	background-color: orangered;
	color: white;
	line-height: 100px;
}
.flex-item2:first-child {
	flex-grow: 2;
}
.shop-bg {
	background-color: #eee;
	padding: 20px;
}

.shop-container {
	display: flex;
	width: 90%;
	margin: auto;
}

.shop-item {
	width: 33%;
	padding: 10px;
}

.item {
	position: relative;
}

.shop-item img {
	display: block;
	width: 100%;
}

.overlay-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.overlay {
	width: 100%;
	height: 100%;
	font-size: 50px;
	color: white;
	text-align: center;
	line-height: 300%;
	background-color: rgba(0, 0, 0, 0.5);
	transform: translateY(100%);
	transition: transform 1s ease-in-out;
}

.overlay-wrap:hover .overlay {
	transform: translateY(0);
}
